
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/{{site.imgfilename}}" style="width:100%;">
  <br><div class="Namdiv">
  {{ site.fullnameofperson }}
  </div>
  <br>
  <div class="Descdiv">
  {{ site.selfIdentification }}
  </div>
  <br>
  <div class="tabSide">
  <table>
  <tr>
    <td><a href="#education"><img src="{{site.baseurl}}/assets/px124/github.svg" width="33%" href="{{site.githubHandle}}"></a></td>
    <td><img src="{{site.baseurl}}/assets/px124/twitter-logo-2429.svg" width="33%" href="{{site.twitterHandle}}"></td>
  </tr>
</table>
    </div>
  <a href="#education">Education</a><br>
  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#publications">Publications</a><br>
  <a href="#projects">Projects</a><br>
</div>

</body>

